test-fixtures/gauntlet-org/force-app/main/default/flows/Vtx_FlowChainMid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <label>Vtx Flow Chain Mid</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>
    <variables>
        <name>varChainRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Relay_Mid_Action</targetReference>
        </connector>
    </start>
    <actionCalls>
        <name>Relay_Mid_Action</name>
        <label>Relay Mid Action</label>
        <locationX>0</locationX>
        <locationY>150</locationY>
        <actionName>VtxFlowChainRelay.relayMid</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_Chain_Leaf</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varChainRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VtxFlowChainRelay.relayMid</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <subflows>
        <name>Call_Chain_Leaf</name>
        <label>Call Chain Leaf</label>
        <locationX>0</locationX>
        <locationY>300</locationY>
        <flowName>Vtx_FlowChainLeaf</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varChainRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
