test-fixtures/adv-org/force-app/main/default/flows/AcmeBackorderResolutionFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Acme Backorder Resolution Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acme Backorder Resolution Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>
    <variables>
        <name>varBackorderedOrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotifyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resolve_Backorders</targetReference>
        </connector>
    </start>
    <actionCalls>
        <name>Resolve_Backorders</name>
        <label>Resolve Backorders</label>
        <locationX>50</locationX>
        <locationY>150</locationY>
        <actionName>AcmeOrderInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Notify_Customer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderIds</name>
            <value>
                <elementReference>varBackorderedOrderIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AcmeOrderInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <subflows>
        <name>Notify_Customer</name>
        <label>Notify Customer</label>
        <locationX>50</locationX>
        <locationY>300</locationY>
        <flowName>AcmeNotifyCustomerSubflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varNotifyRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
