test-fixtures/adv-org/force-app/main/default/flows/AcmeQuoteApprovalScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Acme Quote Approval Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acme Quote Approval Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequestedDiscountPercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varApprovalDecision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AcmeQuoteApprovalScreen</targetReference>
        </connector>
    </start>
    <screens>
        <name>AcmeQuoteApprovalScreen</name>
        <label>Requested Discount</label>
        <locationX>50</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Invoke_Discount_Approval</targetReference>
        </connector>
        <fields>
            <name>DiscountPercentInput</name>
            <dataType>Number</dataType>
            <fieldText>Requested Discount Percent</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <actionCalls>
        <name>Invoke_Discount_Approval</name>
        <label>Invoke Discount Approval</label>
        <locationX>50</locationX>
        <locationY>300</locationY>
        <actionName>AcmeDiscountApprovalInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AcmeQuoteApprovalResultScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestedDiscountPercent</name>
            <value>
                <elementReference>DiscountPercentInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AcmeDiscountApprovalInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <screens>
        <name>AcmeQuoteApprovalResultScreen</name>
        <label>Approval Result</label>
        <locationX>50</locationX>
        <locationY>450</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApprovalResultDisplay</name>
            <fieldText>Approval decision recorded.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
</Flow>
